@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-darkblue: #2D4159;
  --color-main: #E2D4BB;
  --color-secondary: #8F5EFF;
  --color-mainWhite: #D9D9D9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-main);
  cursor: pointer;
  transition: border-color 0.25s;
}*/



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

@layer utilities {
  .text-darkblue {
    color: var(--color-darkblue);
  }

  .bg-darkblue {
    background-color: var(--color-darkblue);
  }

  .border-darkblue {
    border-color: var(--color-darkblue);
  }

  .text-main {
    color: var(--color-main);
  }

  .bg-main {
    background-color: var(--color-main);
  }

  .bg-mainWhite{
    background-color: var(--color-mainWhite);
  }

  .border-main {
    border-color: var(--color-main);
  }

  .text-secondary {
    color: var(--color-secondary);
  }
  .text-mainWhite{
    color: var(--color-mainWhite);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .border-secondary {
    border-color: var(--color-secondary);
  }
}
